.wrapper--number-range {
    display: flex;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.numberRange {
width: 110px;
height: 25px;
}

input {outline:none;}

.numberRange.to {
    margin-left: -2px;
}